# Virtual environment
venv/
Agenic Processor/venv/
Structured_Data_Cleaning/venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env