
services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

    volumes:
      - kafka_kraft:/var/lib/kafka/data


    command:
      - sh
      - -c
      - |
        /etc/confluent/docker/run &
        echo "Waiting 5 seconds for Kafka to start..."
        sleep 5
        echo "Creating Kafka topics..."
        kafka-topics --create --topic raw_input --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
        kafka-topics --create --topic processed_text --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
        kafka-topics --create --topic detected_text --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
        kafka-topics --create --topic detected_image --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
        kafka-topics --create --topic detected_audio --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
        kafka-topics --create --topic detected_video --bootstrap-server localhost:9092 --partitions 1 --replication-factor 1
        echo "Kafka topics created successfully!"
        wait
        
volumes:
  kafka_kraft: